.spinner {
  display: flex;
  /* align-content: center;
  align-items: center;
  text-align: center; */
  margin-left: 50%;
  width: 120px;
  height: 120px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 120px;
  height: 120px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(90, 54, 255);
  border-color: rgb(90, 54, 255) transparent rgb(90, 54, 255) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
